  <html>
  <!--HEAD-->
  <%- include("../partials/headDetallePelicula") %>

    <body>
      <%- include("../partials/header") %>

        <!--MAIN-->
        <main>
          <div>
            <h1 class="tituloDetalle"> <%=movie.nombre%> </h1>

            <div class="videodeyoutube"><iframe width="900" height="550" src="<%= movie.video %>"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></div> </iframe>

              <div class="card mb-3" style="max-width: 900px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="<%= movie.imagen %>" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><%=movie.nombre%></h5>
                      <p class="card-text"><%= movie.descripcion %></p>
                      <p class="card-text"><small class="text-muted"><%= movie.fichatecnica%></small></p>
                    </div>
                  </div>
                </div>
              </div>


        </main>
      <!--FOOTER-->
      <%- include("../partials/footer") %>
  </body>

</html>