<!--HEAD-->
<%- include("../../partials/head") %>

  <body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

      <!--MAIN-->
      <main>
        
 <!--VISTA DINAMICA CON EJS-->
   
      <h4 ><%= noticia.titulo %></h4>
      <p><%=noticia.descripcion %></p>
 
 
      </main>
      <!-- FOOTER -->
      <%- include("../../partials/footer.ejs") %>

  </body>

  </html>