<!--HEAD-->
<%- include(".././partials/headEstrenos") %>

  <body class="bg1">
    <!--HEADER-->
    <%- include(".././partials/header") %>

      <!--MAIN-->
      <main>
   
          <!--EJS-->
          <h1 class="tituloDetalle">Ultimos estrenos</h1>
          <div class="row row-cols-1 row-cols-md-2 ">

              <div class="col mb-4">
                  <!-- Contenido -->
                  <div class="card">
                      <% for(let i=0; i<estrenos.length ; i++) {%>
                          <!--Contenido imagen-->
                          <div class="view overlay">
                              <img class="card-img-top" src="<%= estrenos[i].imagen %>" alt="Card image cap">
                              <a href="#!">
                                  <div class="mask rgba-white-slight"></div>
                              </a>
                          </div>

                          <!--contenido-->
                          <div class="card-body">

                              <!--Titulo-->
                              <h4 class="card-title">
                                  <%= estrenos[i].titulo %>
                              </h4>
                              <!--Texto-->
                              <p class="card-text">
                                  <%=estrenos[i].descripcion%>
                              </p>
                              <h6 class="card-text">Fecha de estreno:
                                <%=estrenos[i].fecha%>
                              </h6>
                              <h6 class="card-text"> Duración:
                                <%=estrenos[i].duracion%>
                              </h6>
                          </div>

                          <% } %>
                      </div>
      </main>
      </main>
      <!-- FOOTER -->
      <%- include("../partials/footer") %>
  </body>

  </html>
