<!--HEAD-->
<%- include(".././partials/headEstrenos") %>

    <body class="bg1">
        <!--HEADER-->
        <%- include(".././partials/header") %>

            <!--MAIN-->
            <main>

                <!--EJS-->
                <h1 class="tituloDetalle">Ultimos estrenos</h1>

                <!--ejemplo con bd-->

                <div class="row row-cols-1 row-cols-md-2 ">

                    <div class="col mb-4">
                        <!-- Contenido -->

                        <% for(let i=0; i<estrenos.length ; i++) {%>

                            <!--contenido-->
                            <div class="card-body">

                                <!--Titulo-->
                                <h4 class="card-title">
                                    <%= estrenos[i].nombre %>
                                </h4>


                                <!--Contenido imagen-->
                                <div>
                                    <img src="<%= estrenos[i].imagen%>">
                                </div>

                                <!--Texto-->
                                <p class="card-text">
                                    <%=estrenos[i].resumen%>
                                </p>

                                <h6 class="card-text">Fecha de estreno:
                                    <%=estrenos[i].fecha_estreno%>
                                </h6>

                                <h6 class="card-text"> Duración:
                                    <%=estrenos[i].duracion%>
                                </h6>

                                <%}%>
                            </div>

            </main>
            <!-- FOOTER -->
            <%- include("../partials/footer") %>
    </body>

    </html>