<!--HEAD-->
<%- include(".././partials/headEstrenos") %>

    <body class="bg1">
        <!--HEADER-->
        <%- include(".././partials/header") %>

            <!--MAIN-->
            <main>

                <!--EJS-->
                <h1 class="tituloDetalle">Ultimos estrenos</h1>

                <!--ejemplo con bd-->

                <div class="row row-cols-1 row-cols-md-2 ">

                    <div class="col mb-4">
                        <!-- Contenido -->

                        <% for(let i=0; i<estrenos.length ; i++) {%>

                            <!--contenido-->
                            <div class="card-body">

                                <!--Titulo-->
                                <h4 class="card-title">
                                    <%= estrenos[i].nombre %>
                                </h4>

                                <!--Contenido video-->
                                <div><iframe width="855" height="550" src="<%= estrenos[i].video%>"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></div> </iframe>
                                <div class="mask rgba-white-slight"></div>

                                <!--Texto-->

                                <p class="card-text-1">
                                    <%=estrenos[i].resumen%>
                                </p>

                                <h6> Genero:
                                    <%= estrenos[i].genero[0].nombre %>
                                </h6>

                                <h6 > Duración:
                                    <%=estrenos[i].duracion%>min
                                </h6>

                                <h6 class="card-text-3">Fecha de estreno:
                                    <%=estrenos[i].fecha_estreno%>
                                </h6>
                                


                            </div>


                            <% } %>
                    </div>
            </main>
            <!-- FOOTER -->
            <%- include("../partials/footer") %>
    </body>

    </html>