<!--HEAD-->
<%- include(".././partials/headNoticias") %>

    <body class="bg1">
        <!--HEADER-->
        <%- include(".././partials/header") %>

            <main>
                <!--EJS-->
                <h1 class="tituloDetalle">Noticias</h1>

                  <!--ejemplo con bd-->

                  <div class="row row-cols-1 row-cols-md-2 ">

                    <div class="col mb-4">
                        <!-- Contenido -->

                        <% for(let i=0; i<noticias.length ; i++) {%>

                            <!--contenido-->
                            <div class="card-body">

                                <!--Titulo-->
                                <h4 class="card-title">
                                    <%= noticias[i].nombre %>
                                </h4>

                                <!--Contenido imagen-->
                                <div class="view overlay">
                                    <img style="width: 100%" src="<%= noticias[i].imagen1%>">
                                </div>

                                <!--Texto-->
                                <p class="card-text-r">
                                    <%=noticias[i].critica%>
                                </p>
                                <h6 class="card-text-e">Fecha de estreno:
                                    <%=noticias[i].fecha_estreno%>
                                </h6>
                            </div>

                            <% } %>
                    </div>
            </main>

            <!-- FOOTER -->
            <%- include(".././partials/footer.ejs") %>
    </body>

    </html>