<!--HEAD-->
<%- include(".././partials/headNoticias") %>

    <body class="bg1">
        <!--HEADER-->
        <%- include(".././partials/header") %>

            <main>
                <!--EJS-->
                <h1 class="tituloDetalle">Noticias</h1>
                <div class="row row-cols-1 row-cols-md-2 ">

                    <div class="col mb-4">
                        <!-- Contenido -->
                        <div class="card">
                            <% for(let i=0; i<noticias.length ; i++) {%>
                                <!--Contenido imagen-->
                                <div class="view overlay">
                                    <img class="card-img-top" src="<%= noticias[i].imagen2 %>" alt="Card image cap">
                                    <a href="#!">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>

                                <!--contenido-->
                                <div class="card-body">

                                    <!--Titulo-->
                                    <h4 class="card-title">
                                        <%= noticias[i].titulo %>
                                    </h4>
                                    <!--Texto-->
                                    <p class="card-text">
                                        <%=noticias[i].texto%>
                                    </p>

                                </div>

                                <% } %>
                            </div>
            </main>

            <!-- FOOTER -->
            <%- include(".././partials/footer.ejs") %>
    </body>

    </html>