<html>
<!--HEAD-->
<%- include("../partials/headDetallePelicula",) %>

  <body>
    <%- include("../partials/header") %>

  <main class="container" >
    <form action="/peliculas/CrearFilm" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" required>
          <div class="valid-feedback">
            ¡Se ve bien!
          </div>
        </div>
    
        <div class="col-md-4 mb-3">
          <label for="imagen">Imagen</label>
          <input type="file" class="form-control" id="imagen" placeholder="Imagen" name="imagen" required>
          <div class="valid-feedback">
            ¡Se ve bien!
          </div>
        </div>
    
        <div class="col-md-4 mb-3">
          <label for="descripcion">Descripción</label>
          <input type="text" class="form-control" id="descripcion" placeholder="Descripción" name="descripcion" required>
          <div class="valid-feedback">
            ¡Se ve bien!
          </div>
        </div>
    
        <div class="col-md-4 mb-3">
          <label for="video">Enlace de Video</label>
          <input type="text" class="form-control" id="video" placeholder="Enlace de Video" name="video" required>
          <div class="valid-feedback">
          </div>
        </div>
      </div>
    
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustomUsername">Subido Por</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
            </div>
            <input type="text" class="form-control" id="validationCustomUsername" placeholder="Nombre de usuario" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
              Por favor, elige un nombre de usuario.
            </div>
          </div>
        </div>
    
        <div class="col-md-4 mb-3">
          <label for="inputGroupSelect01">Género</label>
          <select class="form-control" id="inputGroupSelect01" name="genero" required>
            <option selected disabled>Selecciona un género</option>
            <% for (let i=0; i<generos.length; i++) {%>
              <option value="<%=generos[i].id%>">
                <%=generos[i].nombre%>
              </option>
              <%} %>
          </select>
        </div>
      </div>
    
      <button class="btn btn-primary" type="submit">Subir Película</button>
    </form>
      
      <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
        
      })();
      </script>

  </main>

    <!--FOOTER-->
    <%- include("../partials/footer") %>
</body>

</html>
